*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.header{
    display: flex;
    flex-direction: row;
    background-color: #5297FF;
    height: 8vh;
    justify-content: space-between;
}

.header img{
    width: 9vh;
    height: 8vh;
    margin-left: 6vh;
}

main{
    width: 100%;
    max-width: 30px;
    margin: 0;
}

.divPesq{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input{
    padding: 5px;
    outline: none;
}